/*Guests css start*/
.about_section .about_img {
  position: relative;
  margin: 20px 0;
  width: 50%;
  float: left;
  margin-right: 85px;
  z-index: 1;
  }
  .about_section .about_img img {
    border-radius: 25px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 465px;
    width: 100%;
    object-fit: cover; }
  .about_section .about_img .side-effect:after {
    content: "";
    position: absolute;
    top: -12px;
    height: calc(100% - 18px);
    background: url(../images/about.webp);
    border-radius: 25px;
    width: calc(100% - 65px);
    left: 66px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-blend-mode: overlay;
    opacity: 0.3;
    }
  .about_section .about_img .side-effect:before {
    content: "";
    position: absolute;
    top: -20px;
    height: calc(100% - 44px);
    background: url(../images/about.webp);
    border-radius: 25px;
    width: calc(100% - 97px);
    left: 110px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-blend-mode: overlay;
    opacity: 0.1;
    }
  .about_section .about_img .side-effect span:after {
    content: "";
    position: absolute;
    bottom: -12px;
    height: calc(100% - 18px);
    background: url(../images/about.webp);
    border-radius: 25px;
    width: calc(100% - 65px);
    right: 66px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-blend-mode: overlay;
    opacity: 0.3;
    }
  .about_section .about_img .side-effect span:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: calc(100% - 44px);
    background: url(../images/about.webp);
    border-radius: 25px;
    width: calc(100% - 97px);
    right: 110px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-blend-mode: overlay;
    opacity: 0.1;
    }
  .about_section .about_img:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .about_section .about_img:hover .side-effect:before, .about_section .about_img:hover .side-effect:after {
    top: 0;
    left: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .about_section .about_img:hover .side-effect span:after, .about_section .about_img:hover .side-effect span:before {
    bottom: 0;
    right: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.about_section .about_content {
  height: 100%; 
min-height: 490px;}
  .about_section .about_content h5 {
    font-size: var(--f28);
    color: var(--heading-color);
    text-transform: capitalize;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
}
.about_section .about_content h5:before{
position: absolute;
bottom: -20px;
width: 100px;
height: 2px;
background: var(--secondary-color);
}

    .about_section .about_content h5 span {
      color: var(--other-color); }
  .about_section .about_content h2 {
   color: black;
    text-transform: capitalize;
    font-size: 25px;
 }
 .about_section .about_content h4{
    color: black;
    font-size: var(--f24);
 }
  .about_section .about_content p {
    color: #464646;
    line-height: 1.9;
    font-weight: 300;
    font-size: var(--f16);
  }
  .about_section .about_content .about_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .about_section .about_content .about_bottom h6 {
      margin-left: 25px;
      background-color: #f7f7f7;
      color: #acacac;
      font-size: 14px;
      text-transform: capitalize;
      margin-bottom: 0;
      padding: 8px 12px;
      border-radius: 20px;
      font-weight: 600; }