@media (max-width: 540px){
	section.summary-section a{
		font-size: 24px;
	}
	.col-lg-7.col-md-12.col-sm-12.position-relative, .col-lg-5.col-md-12.col-sm-12.position-relative.right-contentss {
    padding: 0px;
}
.summary-section .inner-column .image img{
	height: 300px;
}
}
@media (max-width: 360px){
section.summary-section a{
		font-size: 22px;
	}
	.summary-section .inner-column .image img{
	height: 250px;
}
}