*, *::after, *::before{padding:0;margin:0;box-sizing:border-box}
@font-face {
    font-family: "Panton";
   src: url('../font/panton.otf');
}
:root{--primary-color: #000;--secondary-color: #051e33;--territiary-color: #008000;--other-color: #d0b067;--lt-bg-color: #f1f1f1;--heading-color: #247cbb;--btn-color: #051e33;--btn-hover: #d0b067;--sec-line:#FD3358;--white-color:#fff;--black-color:#000;--primary-font:"Noto Sans", sans-serif;--secondary-font:"Inter", sans-serif;--other-font:"Lato", sans-serif;--f1:1px;--f2:2px;--f3:3px;--f4:4px;--f5:5px;--f6:6px;--f7:7px;--f8:8px;--f9:9px;--f10:10px;--f11:11px;--f12:12px;--f13:13px;--f14:14px;--f15:15px;--f16:16px;--f17:17px;--f18:18px;--f19:19px;--f20:20px;--f21:21px;--f22:22px;--f23:23px;--f24:24px;--f25:25px;--f26:26px;--f27:27px;--f28:28px;--f29:29px;--f30:30px;--f31:31px;--f32:32px;--f33:33px;--f34:34px;--f35:35px;--f36:36px;--f37:37px;--f38:38px;--f39:39px;--f40:40px;--f41:41px;--f42:42px;--f43:43px;--f44:44px;--f45:45px;--f46:46px;--f47:47px;--f48:48px;--f49:49px;--f50:50px;--f51:51px;--f52:52px;--f53:53px;--f54:54px;--f55:55px;--f56:56px;--f57:57px;--f58:58px;--f59:59px;--f60:60px;--f70:70px;--f75:75px;--f80:80px;--f85:85px;--f90:90px;--p1:1px;--p2:2px;--p3:3px;--p4:4px;--p5:5px;--p6:6px;--p7:7px;--p8:8px;--p9:9px;--p10:10px;--p11:11px;--p12:12px;--p13:13px;--p14:14px;--p15:15px;--p16:16px;--p17:17px;--p18:18px;--p19:19px;--p20:20px;--p21:21px;--p22:22px;--p23:23px;--p24:24px;--p25:25px;--p26:26px;--p27:27px;--p28:28px;--p29:29px;--p30:30px;--p31:31px;--p32:32px;--p33:33px;--p34:34px;--p35:35px;--p36:36px;--p37:37px;--p38:38px;--p39:39px;--p40:40px;--p41:41px;--p42:42px;--p43:43px;--p44:44px;--p45:45px;--p46:46px;--p47:47px;--p48:48px;--p49:49px;--p50:50px;--p51:51px;--p52:52px;--p53:53px;--p54:54px;--p55:55px;--p56:56px;--p57:57px;--p58:58px;--p59:59px;--p60:60px;--p61:61px;--p62:62px;--p63:63px;--p64:64px;--p65:65px;--p66:66px;--p67:67px;--p68:68px;--p69:69px;--p70:70px;--p71:71px;--p72:72px;--p73:73px;--p74:74px;--p75:75px;--p76:76px;--p77:77px;--p78:78px;--p79:79px;--p80:80px;--p81:81px;--p82:82px;--p83:83px;--p84:84px;--p85:85px;--p86:86px;--p87:87px;--p88:88px;--p89:89px;--p90:90px;--p91:91px;--p92:92px;--p93:93px;--p94:94px;--p95:95px;--p96:96px;--p97:97px;--p98:98px;--p99:99px;--p100:100px;--p120:120px;--m1:1px;--m2:2px;--m3:3px;--m4:4px;--m5:5px;--m6:6px;--m7:7px;--m8:8px;--m9:9px;--m10:10px;--m11:11px;--m12:12px;--m13:13px;--m14:14px;--m15:15px;--m16:16px;--m17:17px;--m18:18px;--m19:19px;--m20:20px;--m21:21px;--m22:22px;--m23:23px;--m24:24px;--m25:25px;--m26:26px;--m27:27px;--m28:28px;--m29:29px;--m30:30px;--m31:31px;--m32:32px;--m33:33px;--m34:34px;--m35:35px;--m36:36px;--m37:37px;--m38:38px;--m39:39px;--m40:40px;--m41:41px;--m42:42px;--m43:43px;--m44:44px;--m45:45px;--m46:46px;--m47:47px;--m48:48px;--m49:49px;--m50:50px;--m51:51px;--m52:52px;--m53:53px;--m54:54px;--m55:55px;--m56:56px;--m57:57px;--m58:58px;--m59:59px;--m60:60px;--m61:61px;--m62:62px;--m63:63px;--m64:64px;--m65:65px;--m66:66px;--m67:67px;--m68:68px;--m69:69px;--m70:70px;--m71:71px;--m72:72px;--m73:73px;--m74:74px;--m75:75px;--m76:76px;--m77:77px;--m78:78px;--m79:79px;--m80:80px;--m81:81px;--m82:82px;--m83:83px;--m84:84px;--m85:85px;--m86:86px;--m87:87px;--m88:88px;--m89:89px;--m90:90px;--m91:91px;--m92:92px;--m93:93px;--m94:94px;--m95:95px;--m96:96px;--m97:97px;--m98:98px;--m99:99px;--m100:100px;}
body{
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--white-color);
}
[class^=flaticon-]:before,[class*=" flaticon-"]:before,[class^=flaticon-]:after,[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal
}

.flaticon-call:before {
    content: "\f100"
}

.flaticon-play-button:before {
    content: "\f101"
}

.flaticon-next:before {
    content: "\f102"
}

.flaticon-university:before {
    content: "\f103"
}

.flaticon-work:before {
    content: "\f104"
}

.flaticon-room:before {
    content: "\f105"
}

.flaticon-layers:before {
    content: "\f106"
}

.flaticon-security:before {
    content: "\f107"
}

.flaticon-wifi:before {
    content: "\f108"
}

.flaticon-location:before {
    content: "\f109"
}

.flaticon-taxi:before {
    content: "\f10a"
}

.flaticon-calendar:before {
    content: "\f10b"
}

.flaticon-check-mark:before {
    content: "\f10c"
}

.flaticon-right-chevron:before {
    content: "\f10d"
}

.flaticon-left-quote:before {
    content: "\f10e"
}

.flaticon-left-chevron:before {
    content: "\f10f"
}

.flaticon-target:before {
    content: "\f110"
}

.flaticon-award:before {
    content: "\f111"
}

.flaticon-parking:before {
    content: "\f112"
}

.flaticon-breakfast:before {
    content: "\f113"
}

.flaticon-shop:before {
    content: "\f114"
}

.flaticon-facebook:before {
    content: "\f115"
}

.flaticon-twitter:before {
    content: "\f116"
}

.flaticon-linkedin:before {
    content: "\f117"
}

.flaticon-instagram:before {
    content: "\f118"
}

.flaticon-cross-out:before {
    content: "\f119"
}

.flaticon-expand:before {
    content: "\f11a"
}

.flaticon-play-button-1:before {
    content: "\f11b"
}

.flaticon-down-arrow:before {
    content: "\f11c"
}

.flaticon-email:before {
    content: "\f11d"
}

label.error{
    color:red;
    font-size: 13px;
}
label.valid{
    display: none !important;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
a:hover{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
.main-btn1 {
    font-weight: 700;
    font-size: var(--f15);
    color: var(--white-color);
    height: 60px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    transition: .5s ease-in-out;
}

.btn_4 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.btn_4.learn-more {
    width: 160px;
    height: auto;
}
.btn_4.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    background: var(--btn-color);
    border-radius: 1.625rem;
}
.btn_4.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.btn_4.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.425rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
.btn_4.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
.btn_4.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.5rem;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.1;
    text-align: center;
}
.btn_4:hover .circle {
    width: 100%;
}
.btn_4:hover .circle .icon.arrow {
    background: var(--white-color);
    transform: translate(1rem, 0);
}
.btn_4:hover .button-text {
    color: var(--white-color);
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
ul, li{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
    font-family: var(--primary-font);
    font-size: var(--f14);
}
p{
    font-family: var(--primary-font);
    color: var(--black-color);
    font-size: var(--f16);
    line-height: 30px;
    letter-spacing: 0.05em;
    font-weight: 400;
}
h1{
    font-size: var(--f50);
    line-height: 1.3;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: var(--m30);
    font-family: var(--secondary-font);
}
h2{
    font-size: var(--f35);
    line-height: 1.3;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: var(--m10);
    font-family: var(--secondary-font);
}
h3{
    font-size: var(--f32);
    line-height: 1.3;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: var(--m15);
    font-family: var(--secondary-font);
}
h4{
    font-size: var(--f28);
    line-height: 1.3;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: var(--m15);
    font-family: var(--secondary-font);
}
h5{
    font-size: var(--f24);
    line-height: 1.3;
    font-weight: 700;
    color: var(--heading-color);
    margin-bottom: var(--m20);
    font-family: var(--secondary-font);
}
h6{
    font-size: var(--f22);
    line-height: 1.3;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: var(--m20);
    font-family: var(--secondary-font);
}
section{
    padding: var(--p60) var(--p12);
}
pre, sub{
    font-family: var(--primary-font);
    font-size: var(--f12);
}
table{
    font-family: var(--primary-font);
    font-size: var(--f16);
}
.head-sec h2{
    text-align: center;
    font-size: var(--f38);
    color: var(--black-color);
    margin-bottom: var(--m10);
}
.head-sec h2 span{
    color: var(--other-color);
}
.head-sec p{
    font-size: var(--f14);
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: var(--m5);
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.7;
    text-align: center;
    margin-bottom: var(--m10);
}
.main-btn:hover {
    color: #fff;
    background-position: 100%;
    background-color: var(--btn-hover);
    border: 1px solid var(--btn-hover);
  }

/* header css start */



header.desk-nav {
    padding: 10px;
    position: absolute;
    width: 100%;
    background: #02142b;
    z-index: 3;
    height:98px;
}
header.desk-nav .top-header {
    height: 100%;
    display: flex;
    align-items: center;
}
header.desk-nav #datepicker-demo17.datepicker{
    right:0px !important;
}
header.desk-nav .top-header img{
    width: 100px;
}
header.desk-nav .col-2{
    display: flex;
    align-items: center;
    position:relative;
}
header.desk-nav .col-2.tog {
    justify-content: flex-end;
}
header.desk-nav ul.contact {
    display: flex;
    justify-content: end;
    gap: 35px;
    margin-bottom: 0;
}
header.desk-nav ul.contact li {
    list-style: none;
    color: #fff;
    font-size: var(--f17);
}
header.desk-nav ul.contact li a{
    color: #fff;
    text-decoration: none;
}
header.desk-nav .top-header .container{
    padding-bottom: 0px;
    border-bottom: 0px solid #fff;
    margin-top: 0;
    margin-bottom: 0px;
}
header.desk-nav .top-header .col-8{
    display: flex;
    justify-content: end;
    align-items: center;
}
header.desk-nav a.nav-link {
    color: var(--white-color);
    text-transform: capitalize;
    font-size: var(--f16);
    padding: var(--p25) 0px !important;
    border-left: 0px solid var(--white-color);
    border-bottom: 0px solid transparent;
    font-weight: 500;
    margin-right: var(--m35);
    letter-spacing: 1px;
}
header.desk-nav .nav-links {
    justify-content: center;
    display: flex;
}
header.desk-nav .nav-links ul{
   display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 0;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}
header.desk-nav div#tag2{
   position: absolute;
    right: 0;
    display: none;
    top: 85%;
    background: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.18);
    border-radius: 10px;
    padding: 10px 0;
    width: 250px;
    transition: all 0.5s ease;
    z-index: 2;
}
header.desk-nav div#menu-toggle2 {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 12px 10px;
    border-radius: 20px;
    width: 60px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}
header.desk-nav .search-bar{
    display:none;
}
header.desk-nav .nav-links ul li{
    list-style: none;
    color: #fff;
}
header.desk-nav .nav-links ul li a{
    color: #464646;
    text-decoration: none;
    padding-bottom: 0;
    font-size: var(--f13);
    font-family: var(--secondary-font);
    width: 100%;
    display: block;
    padding: 6px 10px;
    border-bottom: 0px solid;
}
header.desk-nav .nav-links ul li a:hover{
    background-color:var(--secondary-color);
    color:#fff;
}

header.desk-nav .bottom-header {
    padding: var(--p14) 0;
}
  header.desk-nav ul.navbar-nav a{
    text-transform: capitalize;
    font-size: var(--f14);
    border-left: 0px solid var(--white-color);
    border-bottom: 0px solid transparent;
    font-weight: 500;
    margin-right: var(--m35);
    letter-spacing: 1px;
    color: var(--white-color);
  } 
 header.desk-nav ul.navbar-nav a:hover{
    color: var(--other-color);
 }
 header.desk-nav .col-10{
    display: flex;
    justify-content: flex-end;
 }
header.page-header.mob{
    display: none;
}
header .dropdown-menu.show{
    padding: 0px;
    border-radius: 0px;
}
header ul.navbar-nav a.dropdown-item{
    padding: 8px 15px;
    margin-right: 0px;
    color: var(--primary-color);
}
header ul.navbar-nav a.dropdown-item:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
/* footer css start */
footer{
	/*margin-top: 4rem;*/
	/* background: url(../images/yes.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
	width: 100%;
	padding: 50px 0 0;
	background-position: center;
	background: #02142b;
}
footer .col-md-4 {
    flex: 0 0 auto;
    width: 21%;
}
footer .row{
    justify-content: space-between;
}
footer p.abt {
   color: var(--white-color);
    height: 105px;
    overflow: hidden;
    font-size: var(--f13);
    line-height: 2;
}
footer::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #02142b;
    left: 0;
    right: 0;
    top: 0;
    /*z-index: -1;*/
    opacity: .2;
}
.footer_overlay{
	width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 100%);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: none;
}
footer .container{
	z-index: 1;
	position: relative;
}
.footer_links h4{
	font-size: 24px;
    text-transform: capitalize;
    color: var(--white-color);    
    font-size: var(--f24);
    padding-bottom: var(--p15);
    border-bottom: 2px solid var(--white-color);
    width: 80%;
}

.footer_links p{
    color: var(--white-color);
    font-size: var(--f13);
    list-style-type: none;
    padding-bottom: 0px;
    line-height: 2;
}
.footer-social ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    margin-top: var(--m10);
    float: left;
}
.footer-social ul{
	padding-left: 0;
	margin-left: 0;
    display: flex;
}
.footer-social ul li {
    display: inline-block;
    color: var(--white-color);
    margin-right: 10px;
}
.footer-social ul li span {
    display: inline-block;
    margin-right: 4px;
    font-size: var(--f14);
    color: var(--white-color);
}
.footer-social ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
    font-size: 12.5px;
    border: 1px solid #716f6f;
}
.footer_link{
	padding: 0;
	margin: 0;
}
.footer_links ul li{
	list-style-type: none;
    margin-bottom: 6px;
    color: var(--white-color);
    line-height: 30px;
    font-size: var(--f13);
}
.footer_links ul li a{
	color: var(--white-color);
    font-size: var(--f14);
    transition: 300ms;
}
.footer_links ul li a:hover{
    color: var(--other-color);
    border-bottom: 2px solid;
    margin-left: 5px;
}
.footer_links .footer-social ul li a:hover{
    color: var(--other-color);
    border-bottom: 1px solid #fff;
    border-color: #fff;
    margin-left: 0px;
}
.footer_logo img{
	width: 150px;
	margin-bottom: var(--m20);
}
footer .news-gorm-group input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    padding: 4px 15px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 20px;
}
footer .newsletter-form {
    position: relative;
}
footer .news-gorm-group i {
    position: absolute;
    top: 15px;
    right: 17px;
    color: var(--white-color);
    font-size: 21px;
}
footer .news-gorm-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    background: no-repeat;
    border: none;
    color: transparent;
}
.copyright p{
margin: auto;
    font-size: var(--f13) !important;
    color: #fff;
}
.right_copyright{
	text-align: right;
}
.copyright{
	   margin-top: 30px;
    background: transparent;
    padding: 20px 0;
    position: relative;
}
.right_copyright p img{
	width: 135px;
}

.license h4{
    margin-top:25px;
}

.copyright::before {
    content: '';
    position: absolute;
    background-color: var(--white-color);
    height: 4px;
    width: 92%;
    top: -3px;
    left: 0;
    right: 0;
    margin: auto;
}
.datepicker__month-day--today {
    background-color: #ff7312 !important;
    }
    .loader {
    background: #fff;
    box-shadow: 0 0 2px #000;
    padding: 25px;
    border-radius: 20px;
    width: 400px;
    margin: auto;
    text-align: center;
    /* display: none; */
   
}
.loader p{
    font-size: 13px;
    margin-bottom: 0px;
}
.loader p.logo-text {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 15px;
}
.loader img{
    width: 300px;
}
.loader img.img-fluid.logo-loader {
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.loader-head{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    background: #00000069;
    z-index: 9;
}