.checklist{
    display: none;
}
header.desk-nav .search-bar {
    display: block;
}
div#p-list {
    background: var(--lt-bg-color);
}
.search-bar form{
        position: relative;
    margin: auto;
    justify-content: center;
    width: 30%;
    left: 0;
    right: 0;
    bottom: 70px;
    background: var(--white-color);
    padding: 0px 10px;
    border: 0px solid var(--white-color);
    z-index: 2;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 12%);
    margin-top: 0;
    border-radius: 50px;
    padding: 0;
}

.search-bar select{
    font-size: var(--f14);
    color: var(--secondary-color);
    line-height: 32px;
    font-weight: 400;
    border-radius: 0px;
    padding: 0 var(--p15) 0 var(--p10);
    background: var(--white-color);
    text-indent: 10px;
    border: 0px solid #e0e0e0;
    height: 32px;
    width: 100%;
}

.search-bar input{
    position: relative;
    margin: auto;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0px;
    background: transparent !important;
    z-index: 2;
    font-size: var(--f14);
    color: var(--secondary-color);
    line-height: 32px;
    font-weight: 400;
    border-radius: 0px;
    padding: 0;
    text-align: left;
    padding-left: 0;
    border: 0px solid #e0e0e0;
    text-indent: 0;
}
.search{
    position: relative;
    width: 50%;
    margin-top: var(--m30);
}
.search-bar .row{
    justify-content: center;
    align-items: center;
}

.search-bar input#end_date1 {
    padding-left: 20px;
}
.search-bar span.fa-solid.fa-house {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white-color);
}

.search-bar input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary-color);
    opacity: 1; /* Firefox */
    position: relative;
  }

  .search-bar i{
    color: var(--secondary-color);
    position: absolute;
    top: 1.3rem;
    font-size: var(--f16);
    left: 20px;
    z-index:2;
  }

  .search-bar .col-3{
   position: relative;
    width: 85%;
    padding-left: var(--p15);
    padding-right: 0;
    padding-top: var(--p12);
    padding-bottom: var(--p12);
  }
.search-bar .col-3:before{
    position: absolute;
    content: '';
    top: 21px;
    right: 0;
    width: 1px;
    height: 15px;
    background: #999;
  display:none;
}
.search-bar .check:before {
     position: absolute;
    content: '';
    top: 9px;
    right: 0;
    width: 1px;
    height: 15px;
    background: #999;
}
.search-bar .check i{
    top: 0.5rem;
}
.search-bar .col-3.guest:before, .search-bar .col-3.srch-btn:before{
    display:none;
}
.search-bar .col-3.srch-btn{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 15%;
    /* border-radius: 0 30px 30px 0;*/
}
  .search-bar button.main-btn {
    width: 100%;
    height: 56px;
    /* letter-spacing: 2px; */
    border-radius: 50px;
    border-radius: 0 50px 50px 0;
    margin-left: 1px;
}
.search-bar button.main-btn.close1112 {
    height: 43px;
    padding: var(--p5) var(--p15);
    font-size: var(--f14);
    border-radius: 50px;
}
.search-bar .col-4.md-12.sm-12.srch-btn {
    display: flex;
    gap: 10px;
    padding-right: 0px;
}
.search-bar .datepicker-common-2 {
    padding: 0;
    width: 50%;
}
.search-bar .datepicker-common-2 #datepicker-demo17.datepicker{
    left: 0px;
    top: 50px;
    z-index: 10;
}
#datepicker-demo17.datepicker, #datepicker-demo171.datepicker{
  left: 0;
}
.search-bar .main-check{
    padding-left: var(--p10);
    padding-right: 0;
    padding-top: var(--p15);
    padding-bottom: var(--p15);
    width: 40%;
}
.search-bar .main-check .row{
    position:relative;
}
.search-bar button.main-btn i {
    color: var(--white-color);
    position: relative;
    top: 0;
    left: 0;
}
.search-bar button.main-btn:hover {
    border: 2px solid var(--btn-hover);
}
input#demo17, input#demo171{
  width: 100%;
  height: 32px;
  top: 0;
}
div#guestsss1 {
    width: 100%;
    min-width: 250px;
    background: var(--white-color);
    padding: var(--p20);
    position: absolute;
    z-index: 9;
    left: 0;
    border-radius: 10px;
    display: none;
    box-shadow: 0px 0px 3px 0px #888888;
}

#guestsss1 .close12 {
    position: absolute;
    right: 10px;
    left: auto;
    top: 0.3rem;
    font-size: var(--f18);
    color: var(--secondary-color);
    cursor: pointer;
}

#guestsss1 .adult-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--m20);
}

#guestsss1 .adult-box p{
    letter-spacing: 0px;
    color: var(--black-color);
    text-shadow: 0px 0px 0px #000;
    font-size: var(--f14);
    text-align: left;
    margin: 0px;
}

#guestsss1 button.button1 {
   background: transparent;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: var(--f19);
    line-height: 30px;
    margin-left: 0;
    border: 1px solid var(--black-color);
    color: var(--black-color);
    transition: all .3s;
    cursor: pointer;
}
#guestsss1 button.button11.button1 {
    margin-left: var(--m14);
}
.datepicker-section{
                            position: relative;
                        }
                        .datepicker-common-2{
                            padding:0;
                        }
                        input#demo17 {
                            position: absolute;
                            left: 0px;
                            top: 0px !important;
                            width: 100% !important;
                            opacity: 0;
                            height: 32px !important;
                            z-index: 9 !important;
                        }
header.desk-nav div#menu-toggle2 {
   width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 12px 10px;
    border-radius: 20px;
    width: 60px;
    cursor: pointer;
    box-shadow:0 2px 4px rgba(0,0,0,0.18);
}

/* property section */
section.home-list{
    padding: var(--p60) var(--p12);
    background: var(--lt-bg-color);
    padding-top: 0;
}
section.home-list .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: .5s ease-in-out;
}
section.home-list .overlay a{
    color: var(--white-color);
    font-size: var(--f18);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
section.home-list .overlay i{
    color: var(--white-color);
    font-size: var(--f18); 
}
section.home-list .prop-card:hover .overlay{
    display: flex; 
}
section.home-list .row{
justify-content: space-between;
gap: 30px 0;
}
section.home-list .how-we-value-heading span{
    font-size: var(--f14);
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--white-color);
    border-radius: 50px;
    padding: 4px 18px;
}
section.home-list .view {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--p15);
    background: #ffffffbd;
}
section.home-list .view a{
    background: var(--white-color);
    padding: var(--p10);
    box-shadow: 2.5px 4.33px 18px 0px rgb(0 0 0 / 10%);
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-align: center;
}
section.home-list .view i{
    margin-right: 0;
}


section.home-list .col-4{
    width: 33%;
}
section.home-list .pro{
    display:flex;
    justify-content:center;
    margin-top: var(--m30);
}
section.home-list img.img-fluid {
    width: 100%;
    height: 320px;
    object-fit: cover;
    position: relative;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
section.home-list .pro-img:hover img{
    transform: scale(1.14);
}
section.home-list .pro-img a::before{
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    top: 15px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: calc(100% - 66px);
    left: 33px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}
section.home-list .pro-img a::after{
    content: "";
    position: absolute;
    top: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: calc(100% - 16px);
    left: 8px;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}


section.home-list .pro-img a{
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    display: flex;
    border-radius: 20px 20px 0 0;
}
section.home-list .pro-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--p40) var(--p25) var(--p25) var(--p25);
    background: var(--white-color);
    box-shadow: 0px 1px 17px 0px rgba(0, 0, 0, 0.05);
    margin-top: -20px;
    border-radius: 0 0 20px 20px;
}

section.home-list .rating i {
    color: var(--other-color);
    margin-right: 0;
    font-size: var(--f14);
}

section.home-list .adr-rev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #36454f59;
    margin-bottom: 15px;
}
section.home-list .rating{
    margin-bottom:0;
    color: var(--other-color);
    font-size: 16px;
    min-width: 60px;
}
section.home-list h3.title {
    font-size: var(--f24);
    line-height: 30px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: var(--m11);
    height:auto;
    overflow:hidden;
    width: 98%;
}
section.home-list h3.title a{
    color: var(--secondary-color);
}
.prop-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--m40);
}
section.home-list p.adr {
  font-size: var(--f15);
  font-weight: 400;
  color: var(--para-color);
  margin-bottom: 0;
  line-height: 1.5;
  height: 22px;
  overflow: hidden;
  border-bottom: 0px solid #36454f59;
  padding-bottom: 0;
}
.prop-view-btn {
    padding-top: var(--p20);
}
.prop-view-btn a{
    text-decoration: underline;
    font-size: var(--f18);
}
section.home-list .descp{
    max-height: 60px;
    overflow: hidden;
}
section.home-list .how-we-value-heading {
    text-align: center;
}
section.home-list .amn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #36454f59;
    padding-top: var(--p20);
}
section.home-list ul {
    margin: 0 0 0;
    padding: 0;
    /* background-color: #f2f2f2; */
    font-size: var(--f14);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
section.home-list i {
    margin-right: var(--m8);
    color: var(--black-color);
}
section.home-list ul li{
    font-size: var(--f14);
    color: var(--secondary-color);
    font-weight: 500;
}
section.home-list ul.last li{
    color: var(--other-color);
}
section.home-list h5{
    font-size: var(--f18);
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 0;
}
section.home-list .pro-img {
    position: relative;
}
section.home-list h5 span{
    font-weight: 600;
    font-size: var(--f22);
    color: var(--black-color);
}

section.home-list .featured span {
  font-weight: 500;
    font-size: var(--f13);
    color: var(--white-color);
    background-color: var(--heading-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 30px;
}
section.home-list .featured{
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 1;
}
section.home-list .how-we-value-heading p{
    font-size: 14px;
    color: white;
    background-color: #ef3f3e;
    text-transform: uppercase;
    padding: 4px 18px;
    line-height: 1.7;
    border-radius: 3px;
    font-family: Work Sans;
    font-weight: 600;
}
section.home-list .how-we-value-heading  h2 {
   padding-top: 15px;
    padding-bottom: 15px;
    color: var(--black-color);
    font-weight: 600;
    margin-bottom: 0px;
}
section.home-list .how-we-value-heading h6{
line-height: 1.3;
    color: var(--secondary-color);
    letter-spacing: 0.03em;
    font-size: var(--f17);
    font-weight: 600;
    margin-bottom: 0px;
}
.form-control:focus{
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25) !important;
}